# Pandas

O python possui incríveis bibliotecas, sendo muitas delas para tratamento de dados. O pandas é uma dessas incriveis ferramentas disponíveis para analise de dados. Tornando a vida de quem quer trabalhar com dados muito mais fácil. 

 O pandas ja implementa o Numpy e o Matplotlib
 
  ##### Numpy: 
   Ferramenta para trabalhar arrays e matrizes multidimencionais, implementando diversas funções numéricas para cálculos científicos
   http://www.numpy.org/
   
   
  ##### Matplotlib:
  Biblioteca criada para geração de gráficos 2D de alta qualidade, podendo ser manipulados e exibidos em diversos formatos.
  https://matplotlib.org/
  


  #### Características do Pandas
  
Contém uma gama de ferramentas:

 * Dataframe para manipulaão de dados com indexação integrada
 * Ferramentas para leitura e escrita entre estruturas de dados de diferentes formatos
 * Alinhamento de dados e manipulação de dados faltantes
 * Reformatação e articulação de conjuntos de dados
 * Separação de dados com base nos rótulos, indexação e subconjuntos de grandes conjuntos de dados
 * Inserção e exclusão da coluna a estrutura e dados.
 * Agrupamento por diferentes mecanismos, permitindo iteração entre conjuntos de dados
 * Combinando e juntano conjuntos de dados
 * Indexação de nveis hierarquicos, para trabalhar com dados de diferentes níveis
 * Series Temporais, geração de grupos de daos e conversões de frequencias, estatisticas, regressão lienar, mudança de data e atrasos




Site : https://pandas.pydata.org/


 
## Instalação
 
 Se for feita a instalação do Jupyter, ele é instalado automaticamente. 
 
```
pip install pandas
```

ou 

```
conda install pandas    
``` 


 https://pandas.pydata.org/pandas-docs/stable/install.html
 
 
 
## Utilizando o Pandas
 
 
#### Importando os 
```python
 import pandas as pd 
```
#### Importar funções especificas do Pandas
```python
from pandas import DataFrame, read_csv
```

In [ ]:
 import pandas as pd

## Dataframes

A principal estrutura de dados do Pandas é o DataFrame,

O dataframe é uma estrutura tabular (linhas e colunas), Nele são armazenados os dados antes de gerar um arquivo CSV, EXCEL,

http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html#pandas.DataFrame



### Criando um dataframe

cabeçalho | itens

pd.DataFrame( {"Cabeçalho" :  ['linha1', 'linha2','linha3' ] } )

In [ ]:
df = pd.DataFrame({'Exemplo':["teste1","teste2","teste3"]})
df

In [ ]:
dados_Paises = {'Sigla':["BR", "PT", "US", "FR", "AU", "IT", "ES"],
              'Nome': ["Brasil", "Portugal","Estados Unidos", "França", "Austrália", "Itália", "Espanha"],
                'Idioma': ["Português","Português","Inglês", "Francês", "Inglês", "Italiano", "Espanhol"]
             }
df_paises = pd.DataFrame(dados_Paises)
df_paises
#print(df_paises)

### Adicionando linhas a um dataframe

Pode ser necessário adicionar linhas a um dataframe existente.

Para isso utiliza-se o comando

In [ ]:
df_paises = df_paises.append({'Sigla':'AR', 'Nome':'Argentina', 'Idioma':"Espanhol" }, ignore_index=True)
#df_paises = df_paises.append({'Sigla':'RU', 'Nome':'Russia', 'Idioma':"Russo" }, ignore_index=True)
df_paises

### Removendo Linhas

A situação contrária também pode ser necessária, remover linhas é possível com a função drop(indice)

```python
df.drop(3)

```

In [ ]:
df_paises = df_paises.drop(9)
df_paises

### Definindo um ídice para um dataframe

In [ ]:
df_paises2 = df_paises.set_index('Sigla')
df_paises2.index.name = None
df_paises2

In [ ]:
df_paises2.head

### Selecionando uma Coluna específica

É possível trabalhar coom uma coluna específica do dataframe

In [ ]:
df_paises

df_paises['Sigla']

#df_paises[['Sigla']]

### Selecionando mais de uma coluna

Definindo um array com os nomes das colunas, no seguinte formato

['Coluna1', 'Coluna3']

In [ ]:
df_paises.columns

In [ ]:
df_paises[['Sigla', 'Nome']]
#df_paises[['Sigla', 'Idioma']]
#df_paises[['Nome', 'Idioma']]

### Selecionando uma linha específica


É possível selecionar uma linha específica do dataframe.

In [ ]:
df_paises.ix[[0]]

Selecionano através do índice efinido

In [ ]:
df_paises2.ix[[0]]

#df_paises2.ix[['FR']]


#df_paises2.ix[['IT']][['Nome']]

## Lendo dados de arquivos CSV

Uma as funções mais interessantes do Pandas é permitir interagir com arquivos

In [ ]:
file_1 = "brasileirao2017_a.csv"
#file_1 = "brasileirao2017_b.csv"

df_Brasileirao = pd.read_csv(file_1)

#df_Brasileirao = pd.read_csv(file_1,
                               #sep=';',
                               #index_col='Posição'
#                              )

df_Brasileirao

In [ ]:
df_Brasileirao[['Equipe','Posição','Pts'] ]

## Importando arquivos Excel

In [8]:
file2 = "Brasileirao2017Completo.xls"
df_BrasileiraoCompleto = pd.read_excel(file2)
df_BrasileiraoCompleto

    Posição         Equipe  PJ  VIT  E  DER  GP  GC  SG  Pts
0         1    Corinthians  22   15  5    2  33  11  22   50
1         2         Grêmio  21   12  4    5  35  19  16   40
2         3         Santos  21   10  7    4  22  13   9   37
3         4      Palmeiras  22   11  3    8  33  25   8   36
4         5       Flamengo  22    9  8    5  31  21  10   35
5         6       Botafogo  22    8  7    7  25  23   2   31
6         7       Cruzeiro  21    8  6    7  25  19   6   30
7         8    Atlético-PR  22    8  6    8  25  25   0   30
8         9     Fluminense  22    7  9    6  31  29   2   30
9        10   Sport Recife  21    8  5    8  30  28   2   29
10       11       Atlético  22    8  5    9  24  26  -2   29
11       12  Vasco da Gama  22    8  4   10  23  34 -11   28
12       13    Ponte Preta  22    7  6    9  23  27  -4   27
13       14          Bahia  22    7  5   10  29  30  -1   26
14       15       Coritiba  21    7  5    9  21  26  -5   26
15       16    Chapecoense  21    7  4   10  26  34  -8   25
16       17      São Paulo  22    6  5   11  28  33  -5   23
17       18     EC Vitória  21    6  4   11  22  31  -9   22
18       19           Avaí  21    5  7    9  12  26 -14   22
19       20    Atlético-GO  22    5  3   14  18  36 -18   18

#### Ordenano o dataframe

In [ ]:
df_BrasileiraoCompleto.sort_values(['Equipe'])

# df_BrasileiraoCompleto.sort_values(['Equipe'], ascending=False)

In [ ]:
df_BrasileiraoCompleto.dtypes

In [ ]:
df_BrasileiraoCompleto.index

### Selecionando somente uma parte do dataframe

Para dataframes muito grandes, muitas vezes pode ser necessário exibir somente uma parte dele para melhor visualização.

In [ ]:
df_BrasileiraoCompleto[:5]

In [ ]:
df_BrasileiraoCompleto[['Posição','Equipe','Pts']][:5]

### Unir Data Frames arrays

In [ ]:
df_Top5 = df_BrasileiraoCompleto[:5]
df_Top5

In [ ]:
df_Last5 = df_BrasileiraoCompleto[15:20]
df_Last5

In [ ]:
frames = [df_Top5, df_Last5]
df_Top_last = pd.concat(frames)
df_Top_last

## Carregando dados de um banco de dados para um dataframe

Para carregar os dados de um banco de dados, basta criar uma conexão com uma base de daos, utiliano uma engine de conexão.


```python

con = Database.connect()

query_sql = ''' SELECT *
                FROM tabela
                WHERE CAMPO = X '''

df = pd.read_sql(query_sql, con, index_col='id')

```

In [5]:
import pandas as pd
import sqlalchemy as sql

engine = sql.create_engine('mysql+pymysql://pandas:pandas@localhost/pandas', pool_recycle=3600);

query_sql = '''SELECT * FROM pandas.pessoas'''

df = pd.read_sql(query_sql, engine)

df

   id    nome sobrenome dataNasc
0   1    Joao     Silva     None
1   2    Jose   Pereira     None
2   3  Carlos     Costa     None
3   4  Daniel  Domenico     None
4   5   Pedro  Oliveira     None

## Exportando DataFrame em um arquivo


O Pandas, também permite que você salve o seus dataframes em algum arquivo.


#### Copiar o dataframe para  clipboard



```python
df.to_clipboard()
```
OBS:. no linux é necessário ter

In [12]:
df_BrasileiraoCompleto.to_clipboard()

PyperclipException:
    Pyperclip could not find a copy/paste mechanism for your system.
    For more information, please visit https://pyperclip.readthedocs.org


#### Exportar o DataFrame para o formato HTML
```python
df.to_html()
```

In [9]:
df_BrasileiraoCompleto.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Posição</th>\n      <th>Equipe</th>\n      <th>PJ</th>\n      <th>VIT</th>\n      <th>E</th>\n      <th>DER</th>\n      <th>GP</th>\n      <th>GC</th>\n      <th>SG</th>\n      <th>Pts</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>1</td>\n      <td>Corinthians</td>\n      <td>22</td>\n      <td>15</td>\n      <td>5</td>\n      <td>2</td>\n      <td>33</td>\n      <td>11</td>\n      <td>22</td>\n      <td>50</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>Grêmio</td>\n      <td>21</td>\n      <td>12</td>\n      <td>4</td>\n      <td>5</td>\n      <td>35</td>\n      <td>19</td>\n      <td>16</td>\n      <td>40</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>3</td>\n      <td>Santos</td>\n      <td>21</td>\n      <td>10</td>\n      <td>7</td>\n      <td>4</td>\n      <td>22</td>\n      <td>13</td>\n      <td>9</td>\n      <td>37</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>4</td>\n      <td>Palmeiras</td>\n      <td>22</td>\n      <td>11</td>\n      <td>3</td>\n      <td>8</td>\n      <td>33</td>\n      <td>25</td>\n      <td>8</td>\n      <td>36</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>5</td>\n      <td>Flamengo</td>\n      <td>22</td>\n      <td>9</td>\n      <td>8</td>\n      <td>5</td>\n      <td>31</td>\n      <td>21</td>\n      <td>10</td>\n      <td>35</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>6</td>\n      <td>Botafogo</td>\n      <td>22</td>\n      <td>8</td>\n      <td>7</td>\n      <td>7</td>\n      <td>25</td>\n      <td>23</td>\n      <td>2</td>\n      <td>31</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>7</td>\n      <td>Cruzeiro</td>\n      <td>21</td>\n      <td>8</td>\n      <td>6</td>\n      <td>7</td>\n      <td>25</td>\n      <td>19</td>\n      <td>6</td>\n      <td>30</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>8</td>\n      <td>Atlético-PR</td>\n      <td>22</td>\n      <td>8</td>\n      <td>6</td>\n      <td>8</td>\n      <td>25</td>\n      <td>25</td>\n      <td>0</td>\n      <td>30</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>9</td>\n      <td>Fluminense</td>\n      <td>22</td>\n      <td>7</td>\n      <td>9</td>\n      <td>6</td>\n      <td>31</td>\n      <td>29</td>\n      <td>2</td>\n      <td>30</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>10</td>\n      <td>Sport Recife</td>\n      <td>21</td>\n      <td>8</td>\n      <td>5</td>\n      <td>8</td>\n      <td>30</td>\n      <td>28</td>\n      <td>2</td>\n      <td>29</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>11</td>\n      <td>Atlético</td>\n      <td>22</td>\n      <td>8</td>\n      <td>5</td>\n      <td>9</td>\n      <td>24</td>\n      <td>26</td>\n      <td>-2</td>\n      <td>29</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>12</td>\n      <td>Vasco da Gama</td>\n      <td>22</td>\n      <td>8</td>\n      <td>4</td>\n      <td>10</td>\n      <td>23</td>\n      <td>34</td>\n      <td>-11</td>\n      <td>28</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>13</td>\n      <td>Ponte Preta</td>\n      <td>22</td>\n      <td>7</td>\n      <td>6</td>\n      <td>9</td>\n      <td>23</td>\n      <td>27</td>\n      <td>-4</td>\n      <td>27</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>14</td>\n      <td>Bahia</td>\n      <td>22</td>\n      <td>7</td>\n      <td>5</td>\n      <td>10</td>\n      <td>29</td>\n      <td>30</td>\n      <td>-1</td>\n      <td>26</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>15</td>\n      <td>Coritiba</td>\n      <td>21</td>\n      <td>7</td>\n      <td>5</td>\n      <td>9</td>\n      <td>21</td>\n      <td>26</td>\n      <td>-5</td>\n      <td>26</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>16</td>\n      <td>Chapecoense</td>\n      <td>21</td>\n      <td>7</td>\n      <td>4</td>\n      <td>10</td>\n      <td>26</td>\n      <td>34</td>\n      <td>-8</td>\n      <td>25</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>17</td>\n      <td>São Paulo</td>\n      <td>22</td>\n      <td>6</td>\n      <td>5</td>\n      <td>11</td>\n      <td>28</td>\n      <td>33</td>\n      <td>-5</td>\n      <td>23</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>18</td>\n      <td>EC Vitória</td>\n      <td>21</td>\n      <td>6</td>\n      <td>4</td>\n      <td>11</td>\n      <td>22</td>\n      <td>31</td>\n      <td>-9</td>\n      <td>22</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>19</td>\n      <td>Avaí</td>\n      <td>21</td>\n      <td>5</td>\n      <td>7</td>\n      <td>9</td>\n      <td>12</td>\n      <td>26</td>\n      <td>-14</td>\n      <td>22</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>20</td>\n      <td>Atlético-GO</td>\n      <td>22</td>\n      <td>5</td>\n      <td>3</td>\n      <td>14</td>\n      <td>18</td>\n      <td>36</td>\n      <td>-18</td>\n      <td>18</td>\n    </tr>\n  </tbody>\n</table>'



#### Gerar uma saida JSON do DataFrame
```python
df.to_json()

```

In [10]:
df_BrasileiraoCompleto.to_json()

'{"Posi\\u00e7\\u00e3o":{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6,"6":7,"7":8,"8":9,"9":10,"10":11,"11":12,"12":13,"13":14,"14":15,"15":16,"16":17,"17":18,"18":19,"19":20},"Equipe":{"0":"Corinthians","1":"Gr\\u00eamio","2":"Santos","3":"Palmeiras","4":"Flamengo","5":"Botafogo","6":"Cruzeiro","7":"Atl\\u00e9tico-PR","8":"Fluminense","9":"Sport Recife","10":"Atl\\u00e9tico","11":"Vasco da Gama","12":"Ponte Preta","13":"Bahia","14":"Coritiba","15":"Chapecoense","16":"S\\u00e3o Paulo","17":"EC Vit\\u00f3ria","18":"Ava\\u00ed","19":"Atl\\u00e9tico-GO"},"PJ":{"0":22,"1":21,"2":21,"3":22,"4":22,"5":22,"6":21,"7":22,"8":22,"9":21,"10":22,"11":22,"12":22,"13":22,"14":21,"15":21,"16":22,"17":21,"18":21,"19":22},"VIT":{"0":15,"1":12,"2":10,"3":11,"4":9,"5":8,"6":8,"7":8,"8":7,"9":8,"10":8,"11":8,"12":7,"13":7,"14":7,"15":7,"16":6,"17":6,"18":5,"19":5},"E":{"0":5,"1":4,"2":7,"3":3,"4":8,"5":7,"6":6,"7":6,"8":9,"9":5,"10":5,"11":4,"12":6,"13":5,"14":5,"15":4,"16":5,"17":4,"18":7,"19":3},"DER":{"0":2,"1":5,"2":4,"3":8,"4":5,"5":7,"6":7,"7":8,"8":6,"9":8,"10":9,"11":10,"12":9,"13":10,"14":9,"15":10,"16":11,"17":11,"18":9,"19":14},"GP":{"0":33,"1":35,"2":22,"3":33,"4":31,"5":25,"6":25,"7":25,"8":31,"9":30,"10":24,"11":23,"12":23,"13":29,"14":21,"15":26,"16":28,"17":22,"18":12,"19":18},"GC":{"0":11,"1":19,"2":13,"3":25,"4":21,"5":23,"6":19,"7":25,"8":29,"9":28,"10":26,"11":34,"12":27,"13":30,"14":26,"15":34,"16":33,"17":31,"18":26,"19":36},"SG":{"0":22,"1":16,"2":9,"3":8,"4":10,"5":2,"6":6,"7":0,"8":2,"9":2,"10":-2,"11":-11,"12":-4,"13":-1,"14":-5,"15":-8,"16":-5,"17":-9,"18":-14,"19":-18},"Pts":{"0":50,"1":40,"2":37,"3":36,"4":35,"5":31,"6":30,"7":30,"8":30,"9":29,"10":29,"11":28,"12":27,"13":26,"14":26,"15":25,"16":23,"17":22,"18":22,"19":18}}'


#### Exportar o DataFrame para CSV : 
```python
df.to_csv("csvFile.csv", sep=',',  encoding='utf-8', index=False)
```

In [ ]:
df_BrasileiraoCompleto.to_csv("csvFile.csv", sep=',',  encoding='utf-8', index=False)


#### Exportar o DataFrame para excel
```python
writer = pd.ExcelWriter('excel.xlsx')
df.to_excel(writer,'Planilha', index=False)
writer.save()
```

In [ ]:
df_Top10 = df_BrasileiraoCompleto[['Posição','Equipe','Pts']][:10]
df_Top10

In [ ]:
writer = pd.ExcelWriter('Brasileirao.xlsx')

df_Brasileirao.to_excel(writer,'Top 5', index=False)
df_Top10.to_excel(writer,'Top 10', index=False)
df_BrasileiraoCompleto.to_excel(writer,'Geral')

writer.save()

#### Salvar o dataframe em uma base SQL.
```python
from pandas.io import sql
import MySQLdb

con = MySQLdb.connect()

df.to_sql(con=con, name='NomeDataFrame', if_exists='replace', flavor='mysql')

sql.write_frame(df, con=con, name='NomeDataFrame', if_exists='replace', flavor='mysql')
```

In [ ]:
from pandas.io import sql
import MySQLdb
            
engine = sql.create_engine('mysql+pymysql://pandas:pandas@localhost/pandas', pool_recycle=3600);

df.to_sql(con=engine, name='NomeDataFrame', if_exists='replace', flavor='mysql')

sql.write_frame(df, con=con, name='NomeDataFrame', if_exists='replace', flavor='mysql')

```





```


# Obrigado


Fontes: github.com/raphamendonca/Grupy